<div class="cart">
    <h3 class="cart-title">سبد خرید</h3>
    <div class="cart-box">
        <div class="header-box">
            <div class="title-header  product-name">نام محصول</div>
            <div class="title-header">قیمت واحد</div>
            <div class="title-header">تعداد</div>
        </div>
        <div class="content-box">
            <div class="content">
                <div class="clear"></div>
                <div class="watch-img"></div>
                <div class="product"></div>
                <div class="unit-price"></div>
                <div class="number"></div>
            </div>
        </div>
        <div class="footer-box">
            <button class="return" [routerLink]="''">بازگشت به صفحه محصولات</button>
            <button class="clear-all">پاک کردن سبد خرید</button>
        </div>
    </div>
</div>
