@import '../../assets/fonts/font-face.scss';
$fontSizeNormal: 13px;
$fontSizeMedium: 16px;
$fontNormal: Vazir;


//borde-color
$borderTable: #eee;
$border: rgba(129,129,129,.2);
$accordionBorder: #efefef;


//color
$card-color: #4a5157;
$card-hover: rgba(0,0,0,.2);
$hover-row: #777;
$menu-color: #4a4a4a;
$contentTable: #eee;

//backgroung-color
$contianer: #fff;
$activeBackground: #eee;
$hover-button: #000;
