<div class="header">
    <div class="list">
        <div class="item-list">
            <span class="title-list">ورود / ثبت نام</span>
        </div>
        <div class="item-list" [routerLink]="'comparison'">
            <span class="title-list">مقایسه</span>
        </div>
    </div>
    <div class="form">
        <form>
            <div class="search-box">
                <input class="search-input" type="text" placeholder="جستجوی محصولات" name="form-search" [(ngModel)]="searchService.inputSearch">
                <svg-icon src="/assets/svg/search.svg"></svg-icon>
            </div>
        </form>
    </div> 
</div>
<app-menu-header></app-menu-header>