<div class="header">
    <!-- <div class="logo">
    </div> -->
    <div class="list">
        <div class="item-list" *ngFor="let itemList of list">
            <span class="icon">{{itemList.icon}}</span>
            <span class="title-list">{{itemList.title}}</span>
        </div>
    </div>
    <div class="form">
        <form>
            <div class="search-box">
                <!-- <label>جستجو</label> -->
                <input class="search-input" type="text" placeholder="جستجوی محصولات">
                <svg-icon src="/assets/svg/search.svg"></svg-icon>
            </div>
        </form>
    </div> 
</div>

<app-menu-header></app-menu-header>