@import '../../../style/components/variables.scss';
.sorter {
    border: 1px solid $border;
    border-radius: 50px;
    display: flex;
    align-items: center;
    .sort-by {
        .buttons {
            .botton {
                a {
                    text-decoration: none;
                    color: $card-color;
                }
            }
            label {
                unicode-bidi: bidi-override;
                color: $card-color;
                font-size: $fontSizeNormal;
            }
        }
    }
}