<div class="watch-box">
        <div class="product-img-box">
           <img src="https://ticktackgallery.com/media/catalog/product/cache/1/small_image/400x/17f82f742ffe127f42dca9de82fb58b1/m/t/mtp-1370l-7a_0.jpg" alt="">
        </div>
        <div class="information-table">
            <div class="table">
                <div class="title-table">
                    
                </div>
                <div class="content">
                
                </div>
            </div>
        </div>
</div>
