@import '../../../style/components/variables.scss';


.box {
    padding-right: 90px;
    padding-left: 115px;
    padding-block: 20px;
    box-shadow: 0 6px 3px -6px #777;
    position: sticky;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    background: $contianer;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    .menu-header {
        display: flex;
        align-items: center;
        padding: 0px;
        direction: rtl;  
        font-family: $fontNormal;
        margin: 0px;  
        box-sizing: border-box;
        background: $contianer;
       
    
        .item-menu {
            list-style: none;
            cursor: pointer;
    
            .title-menu {
                padding: 5px 15px;
                text-decoration: none;
                color: $menu-color;
                font-size: $fontSizeNormal;
    
                &:hover {
                    color: $hover-row;
                }
    
            }
        }
    }
    
    .icon-box {
        cursor: pointer;
        svg-icon {
            height: 24px;
            display: inline-block;
            svg {
                height: 24px;
                width: 24px;
                color: $menu-color;
            }
        }
    }
}