.main {
    padding-bottom: 20px;
    height: calc(100vh - 85px);
    box-sizing: border-box;
    .main-outer {
        padding: 16px;
        height: 100%;
        box-sizing: border-box;
    }
}