.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .list {
        display: flex;
        flex-direction: row-reverse;

        .item-list {
            padding-inline: 10px;
            cursor: pointer;
            &:hover {
                color: rgba(51,51,51,.6);
            }
        }
    }

    .search-input {
        padding: 0 15px;
        min-width: 290px;
        height: 40px;
        direction: rtl;
        color: #777;
        &:focus {
            outline: none;
        }
    }

}

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     width: 100%;
// }