.header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 0px;
    height: 85px;
    padding-inline: 20px;
    background: #f5f5f5;
    width: 100%;
    box-sizing: border-box;

    .list {
        display: flex;
        flex-direction: row-reverse;

        .item-list {
            padding-inline: 10px;
            line-height: 32px;
            border-radius: 24px;
            font-size: 14px;
            margin-left: 6px;
            cursor: pointer;
            &:hover {
                background-color: #eee;
                text-decoration: none;
            }
        }
    }

    .form {
        form {
            border-radius: 100%;
            box-shadow: 0 3px 7px -5px, 0 0 6px -4px;
            
            .search-box {
                label {
                    position: relative;
                    left: 88%;
                    display: none;
                }

                .search-input {
                    padding: 0 15px;
                    min-width: 290px;
                    height: 40px;
                    direction: rtl;
                    outline: none;
                    border: none;
                    border-radius: 50px;
                    color: #777;
                    &:focus {
                        outline: none;
                    }
            
                   
                }

                .search-button {
                    button {
                        border: none;
                        background: #fff;
                        border-radius: 100%;
                        height: 40px;
                        width: 42px;
                        cursor: pointer;

                        svg-icon {
                            display: block;
                            height: 24px;
                        }
                    }
            
                   
            
                }
            }
        }
    }

    

   
   

    
}

