
<app-sorter-list></app-sorter-list>
<div class="list">
    <div class="card" *ngFor="let item of watchlist">
        <a href="" class="product-image">
            <img src="{{item.img}}" alt="">
        </a>  
       <div class="card-footer">
            <div class="model">
                <span>مدل</span>
                <span>{{item.model}}</span>
            </div>
            <div class="price">
                {{item.price}}
            </div>
       </div>
    </div>
</div>