
<div class="watchList-container">
    <app-sorter-list></app-sorter-list>
<div class="list">  
    <div class="card" *ngFor="let item of watchList | searchFilter:searchService.inputSearch | sort:sorterListService.sortType">
        <a class="product-image" routerLink="watch/{{item.id}}">
            <img src="{{item.img}}" alt="" > 
        </a>  
       <div class="card-footer">
            <div class="information">
                <div class="gender">
                    <span class="title">ساعت مچی</span>
                    <span class="value"> {{item.genderType}}</span>
                </div>
                <div class="brand-watch">
                    <span class="title">برند</span>
                    <span class="value">{{item.brandTitle}}</span>
                </div>
                <div class="model">
                    <span class="title">مدل</span>
                    <span class="value">{{item.model}}</span>
                </div>
                <div class="price">
                    <span class="value">{{item.price | number }}</span>
                    <span class="title">تومان</span>     
                </div>
            </div>  
            <div class="icon-box">
                <div class="comparison">
                    <svg-icon src="/assets/svg/comparison.svg"></svg-icon>
                </div>
                <button class="add-to-cart">
                  <svg-icon src="/assets/svg/shopping-cart.svg"></svg-icon>  
                  <span class="title-cart">افزودن به سبد</span>
                </button>
                <div class="like-button">
                    <svg-icon src="/assets/svg/like.svg"></svg-icon>
                </div>
            </div>    
       </div>
    </div>
</div>
<app-list-filter></app-list-filter>
</div>