<div class="sort-list">
    <div class="sort-menu">
        <app-accordion titleHeader="جنسیت">
            <ul class="menu">
                <li>بچگانه</li>
                <li>زنانه</li>
                <li>مردانه</li>
            </ul>
        </app-accordion>
    </div> 
    <div class="sort-menu">
        <app-accordion titleHeader="گارانتی">
            <ul class="menu">
                <li>گارانتی 12 ماهه پوزیترون</li>
                <li>گارانتی 18 ماهه زمان و زیور</li>
                <li>گارانتی 24 ماهه دیجیران</li>
            </ul>
        </app-accordion>
    </div>       
    <div class="sort-menu">
        <app-accordion titleHeader="رنگ صفحه">
            <ul class="menu">
                <li>ابی</li>
                <li>بنفش</li>
                <li>خاکستری</li>
                <li>رزگلد</li>
                <li>سورمه‌ای</li>
                <li>صورتی</li>
                <li>مشکی</li>
                <li>نقره‌ای</li>
                <li>طلایی</li>
                <li>سبز</li>
                <li>سفید</li>
            </ul>
        </app-accordion>
    </div>    
</div>
