.sort-list {
    width: 300px;
    // display: inline-block;
    float: right;
    position: relative;
    top: 50px;
    right: 66px;

    .menu {
        padding-right: 0px;
        li {
            list-style: none;
            line-height: 35px;

            .icon-box {
                width: 20px;
                height: 20px;
                float: left;
                svg-icon {
                    width: 14px;
                    height: 14px;

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    }
}
